@model IdentitySample.Models.ChangePasswordViewModel
@using control_notas_cit.Helpers
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section sidebar{
    <li class=""><a href="@Url.Action("RedirectToController")"><i class="icon-book"></i><span class="hidden-tablet"> Inicio</span></a></li>
}

<div class="row-fluid">
    <div class="box span8">
        <div class="box-header">
            <h2>Cambiar contraseña</h2>
        </div>
        <div class="box-content">
            @using(Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                 <div class="control-group">
                    @Html.LabelFor(model => model.OldPassword, new { @class = "control-label" })
                    <div class="controls">
                        @Html.PasswordFor(model => model.OldPassword)
                        @Html.ValidationMessageFor(model => model.OldPassword)
                    </div>

                </div>
                
                <div class="control-group">
                    @Html.LabelFor(model => model.NewPassword, new { @class = "control-label" })
                    <div class="controls">
                        @Html.PasswordFor(model => model.NewPassword)
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </div>

                </div>
                
                <div class="control-group">
                    @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label" })
                    <div class="controls">
                        @Html.PasswordFor(model => model.ConfirmPassword)
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>

                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                    @Html.ActionLink("Cancelar", "RedirectToController", null, new { @class = "btn" })
                </div>
            }
        </div>
    </div> 
</div>