@using control_notas_cit.Helpers

<li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index")"><i class="icon-book"></i><span class="hidden-tablet"> Inicio</span></a></li>
<li class="@Html.IsSelected(action: "Celulas")"><a href="@Url.Action("Celulas")"><i class="icon-edit"></i><span class="hidden-tablet"> Celulas</span></a></li>
<li class="@Html.IsSelected(action: "ListaCoordinadores")"><a href="@Url.Action("ListaCoordinadores")"><i class="icon-user"></i><span class="hidden-tablet"> Coordinadores</span></a></li>
<li class="@Html.IsSelected(action: "AgregarProfesor")"><a href="@Url.Action("AgregarProfesor")"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Agregar Profesor</span></a></li>
<li class="@Html.IsSelected(action: "ListaAlumnos")"><a href="@Url.Action("ListaAlumnos")"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Lista Alumnos</span></a></li>
<li class="@Html.IsSelected(action: "Asistencias")"><a href="@Url.Action("Asistencias")"><i class="icon-check"></i><span class="hidden-tablet"> Asistencias</span></a></li>
