@model control_notas_cit.Models.ViewModels.SemanaViewModel
@{
    ViewBag.Title = "Editar Semana";
    ViewBag.Seccion = "Profesor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section sidebar{
    @Html.Partial("_SidebarProfesorPartialView")
}

<div class="row-fluid">
    <div class="box span12">
        <div class="box-header">
            <h2>Editar Semana</h2>
        </div>
        <div class="box-content">
            <fieldset>
                @using(Html.BeginForm("EditarSemana", "Profesor", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(m => m.SemanaID)
                    
                    <div class="container-fluid">
                    @Html.ValidationSummary(true)
                    </div>
                    
                    <div class="control-group">
                        @Html.LabelFor(model => model.Fecha, new { @class = "control-label" })
                        <div class="controls">
                            <span class="uneditable-input">@Model.Fecha.ToShortDateString()</span>
                        </div>
                    </div>
                    
                    <div class="control-group">
                        @Html.LabelFor(model => model.Actividad, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextAreaFor(model => model.Actividad, new { @class = "input-xxlarge", rows = "5" })
                            @Html.ValidationMessageFor(model => model.Actividad)
                        </div>
                    </div>
                    
                    <div class="control-group">
                        @Html.LabelFor(model => model.Descripcion, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextAreaFor(model => model.Descripcion, new { @class = "input-xxlarge", rows = "5" })
                            @Html.ValidationMessageFor(model => model.Descripcion)
                        </div>
                    </div>
                    
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn" })
                    </div>
                }
            </fieldset>
        </div>
    </div> 
</div>

