@model control_notas_cit.Models.ViewModels.CelulaEditViewModel
@using control_notas_cit.Helpers
@{
    ViewBag.Title = "Editar Celula";
    ViewBag.Seccion = "Profesor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section sidebar{
    @Html.Partial("_SidebarProfesorPartialView")
}

<div class="row-fluid">
    <div class="box span12">
        <div class="box-header">
            <h2>Editar Celula</h2>
        </div>
        <div class="box-content">
            <fieldset>
                @using (Html.BeginForm("EditarCelula", "Profesor", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(m => m.Id)

                    <div class="container-fluid">
                        @Html.ValidationSummary(true)
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(model => model.Nombre, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Nombre, new { @class = "", rows = "" })
                            @Html.ValidationMessageFor(model => model.Nombre)
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(model => model.Descripcion, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextAreaFor(model => model.Descripcion, new { @class = "input-xxlarge", rows = "5" })
                            @Html.ValidationMessageFor(model => model.Descripcion)
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                        @Html.ActionLink("Cancelar", "Celulas", null, new { @class = "btn" })
                    </div>
                }
            </fieldset>
        </div>
    </div>
</div>


