@model IList<control_notas_cit.Models.Entidades.Alumno>
@using control_notas_cit.Models.Entidades
@{
    ViewBag.Title = "Lista Alumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section sidebar{
    @Html.Partial("_SidebarProfesorPartialView")
}



<div class="box span12">
    <div class="box-header" data-original-title="">
        <h2><i class="halflings-icon list"></i><span class="break"></span> Lista Alumnos</h2>
    </div>
    <div class="box-content">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cedula</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Celula</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0)
                {
                    foreach (Alumno alumno in Model)
                    {
                        <tr>
                            <td class="center">@alumno.Nombre</td>
                            <td class="center">@alumno.Apellido</td>
                            <td class="center">@alumno.Cedula</td>
                            <td class="center">@alumno.Telefono</td>
                            <td class="center">@alumno.Email</td>
                            <td class="center">
                                @alumno.Celula.Nombre
                            </td>
                            <td class="center">
                                <a class="btn btn-info" href="@Url.Action("EditarAlumno", new { id = alumno.AlumnoID })">
                                    Cambiar de celula
                                </a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>
